html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    min-width: 300px;
}
nav {
    background-color: rgb(15, 15, 14);
}
main {
    min-height: 65vh;
}
footer {
    bottom: 0;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}
#container-img{
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
}
.img-movie-container{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 380px;
    min-height: 300px;
}
.btn-rate{
    background-color: rgb(75, 70, 70);
}
.btn-rate:hover{
    background-color: rgb(34, 32, 32);
}

@media(max-width: 482px){
    .movie-card{
        width: 100%;
        margin: 0.8em;
    }
}
@media(min-width: 482px){
    .movie-card{
        width: 45%;
        margin: 0.6em;
    }
}
@media(min-width: 768px){
    .movie-card{
        width: 31%;
        margin: 0.5em;
    }
}
@media(min-width: 992px){
    .movie-card{
        width: 22%;
        margin: 0.8em;
    }
}
@media(min-width: 1200px){
    .movie-card{
        width: 18.500%;
        margin: 0.5em;
    }
}
.container-img-review{
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
}

.container-img-user-movie{
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
}
@media(max-width: 500px){
    .container-img-review{
        background-size: cover;
        background-position: center;
        width: 80px;
        height: 80px;
    }
}

@media(min-width: 482px){
    .row-movies-profile .movie-card{
        width: 46%;
        margin: 0.6em;
    }
}
@media(min-width: 768px){
    .row-movies-profile .movie-card{
        width: 30.9%;
        margin: 0.5em;
    }
}
@media(min-width: 992px){
    .row-movies-profile .movie-card{
        width: 29.000%;
        margin: 0.8em;
    }
}
@media(min-width: 1200px){
    .row-movies-profile .movie-card{
        width: 22.885%;
        margin: 0.5em;
    }
}