<footer>
       <div class="container-fluid h-50 ">
            <i class="fa fa-facebook m-2 h4" aria-hidden="true"></i>
            <i class="fa fa-instagram m-2  h4" aria-hidden="true"></i>
            <i class="fa fa-youtube m-2  h4" aria-hidden="true"></i>         
       </div>
       <div class="row h-50 w-50 m-auto">
            <a href="" class="text-decoration-none text-light m-auto col-12 h-75 col-md-3">Adicionar Filme</a>
            <a href="" class="text-decoration-none text-light m-auto col-12 h-75 col-md-3">Adicionar Crítica</a>
            <a href="" class="text-decoration-none text-light m-auto col-12 h-75 col-md-3"> Entrar/Registrar</a>
       </div>
    </footer>

     <!-- jquery -->
     <script src="js/jquery-3.6.3.min.js"> </script>
</body>
</html>