<footer>
       <div class="container-fluid h-50 ">
            <i class="fa fa-facebook m-2 h4" aria-hidden="true"></i>
            <i class="fa fa-instagram m-2  h4" aria-hidden="true"></i>
            <i class="fa fa-youtube m-2  h4" aria-hidden="true"></i>         
       </div>
       <div class="h-50 w-50 m-auto">
           <p class=" h-50"><strong>MovieStar 2023 &copy; </strong></p>
           <p class=" h-50">Todos os direitos reservados</p>
       </div>
    </footer>

     <!-- jquery -->
     <script src="js/jquery-3.6.3.min.js"> </script>
</body>
</html>